.parallax {
    position: relative;
    height: 100%;
}
.layer {
    background-position: bottom center;
    width: 100%;
    height: 100%;
    position: absolute;
    background-repeat: repeat-x;
}
#layer-1 {
    background-image: url('../assets/backgrounds/skyline1.svg');
}
#layer-2 {
    background-image: url('../assets/backgrounds/skyline2.svg');
}
#layer-3 {
    background-image: url('../assets/backgrounds/skyline3.svg');
}