.layer {
    background-position: bottom center;
    width: 100%;
    // position: absolute;
}
#layer-1 {
    background-image: url('../assets/backgrounds/skyline1.svg');
}
#layer-2 {
    background-image: url('../assets/backgrounds/skyline2.svg');
}
#layer-3 {
    background-image: url('../assets/backgrounds/skyline3.svg');
}