// Sign Anchor Links
.sign-link { // general styling
  position: absolute;
  z-index: 2;
  &:after {
      position: absolute;
      content: "";
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
  }
  height: 12%;
  @include animated();
}
.sign-bottom { // Lower signs
    margin-top: 60%;
    @include mobile {
        margin-top: 0;
        bottom: 10%;
    }
}
.sign-top { // Higher signs
    margin-top: 50%;
    @include mobile {
        margin-top: 0;
        bottom: 20%;
    }
}

// Sign Objects
.sign { // style object tags
    width: 100%;
    display: block; // forces anchor to wrap object
}
// TODO: Mobile Sizing
#speakers-sign-link {
    width: 40%; right:62.5%;
    @include mobile {
        width: 60%; right: 42.5%;
        bottom: 38%;
    }
}
#faq-sign-link {
    width:19.5%; right:82.5%;
    @include mobile {
        width: 30%; right: 73%;
        bottom: 14%;
    }
}
#sponsors-sign-link {
    width:40%; left:62.5%;
    @include mobile {
        width: 60%; left: 43.5%;
        bottom: 2%;
    }
}
#register-sign-link {
    width:35%; left:67.5%;
    height: 11%;
    @include mobile {
        width: 54%; left: 49%;
        bottom: 26%;
    }
}

// Expanded Bubbles
.expanded-sign { // fixed div cover, general styling
    position: fixed;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    opacity: 0;
    transition: 0.25s all ease;
    display: none;
    &.show1 {
        &.show2 {
            opacity: 1;
        }
        display: block;
    }
}

// TODO: Responsive Sizing
.expanded-bubble-left {
    position: absolute;
    @include desktop {

    }
    @include tablet {
        width: 600px;
        left: -25px;
        bottom: 60px;
    }
    width: 80vw;
    left: -2.5vw;
    bottom: 150px;
}
.expanded-arrow-left {
    cursor: pointer;
    position: absolute;
    @include desktop {

    }
    @include tablet {
        width: 150px;
        left: 420px;
        bottom: 303px;
    }
    width: 20vw;
    left: 56.5vw;
    bottom: calc(150px + 32.5vw);
}

.expanded-bubble-right {
    position: absolute;
    @include desktop {

    }
    @include tablet {
        width: 600px;
        right: -25px;
        bottom: 60px;
    }
    width: 80vw;
    right: -2.5vw;
    bottom: 150px;
}
.expanded-arrow-right {
    cursor: pointer;
    position: absolute;
    @include desktop {

    }
    @include tablet {
        width: 150px;
        right: 420px;
        bottom: 303px;
    }
    width: 20vw;
    right: 56.5vw;
    bottom: calc(150px + 32.5vw);
}