// Sign Anchor Links
.sign-link { // general styling
  position: absolute;
  z-index: 2;
  &:after {
      position: absolute;
      content: "";
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
  }
  height: 12%;
  @include animated();
}
.sign-bottom { // Lower signs
    margin-top: 60%;
    @include mobile {
        margin-top: 0;
        bottom: 10%;
    }
}
.sign-top { // Higher signs
    margin-top: 50%;
    @include mobile {
        margin-top: 0;
        bottom: 20%;
    }
}

// Sign Objects
.sign { // style object tags
    width: 100%;
    display: block; // forces anchor to wrap object
}
// TODO: Mobile Sizing
#speakers-sign-link {
    width: 40%; right:62.5%;
    @include mobile {
        width: 60%; right: 42.5%;
        bottom: 28%;
    }
}
#faq-sign-link {
    width:19.5%; right:82.5%;
    @include mobile {
        width: 30%; right: 73%;
        bottom: 12%;
    }
}
#sponsors-sign-link {
    width:40%; left:62.5%;
    @include mobile {
        width: 60%; left: 43.5%;
        bottom: 4%;
    }
}
#register-sign-link {
    width:35%; left:67.5%;
    height: 11%;
    @include mobile {
        width: 54%; left: 49%;
        bottom: 20%;
    }
}

// Expanded Bubbles
.expanded-sign { // fixed div cover, general styling
    position: fixed;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    opacity: 0;
    transition: 0.5s all ease;
    display: none;
    &.show1 {
        &.show2 {
            opacity: 1;
        }
        display: block;
    }
}

// TODO: Responsive Sizing
.expanded-bubble-left {
    position: absolute;
    width: 80vw;
    height: auto;
    left: -1vw;
    bottom: 150px;
    @include tablet-landscape {
        height: 80vh;
        width: auto;
        left: -20px;
        bottom: 6vh;
    }
}
.expanded-arrow-left {
    cursor: pointer;
    position: absolute;
    width: 30vw;
    height: auto;
    left: 61vw;
    bottom: calc(150px + 32.5vw);
    @include tablet-landscape {
        height: 40vh;
        width: auto;
        left: calc(-20px + 106vh);
        bottom: 62vh;
    }
}

.expanded-bubble-right {
    position: absolute;
    width: 80vw;
    height: auto;
    right: -1vw;
    bottom: 150px;
    @include tablet-landscape {
        height: 80vh;
        width: auto;
        right: -20px;
        bottom: 6vh;
    }
}
.expanded-arrow-right {
    cursor: pointer;
    position: absolute;
    width: 30vw;
    height: auto;
    right: 61vw;
    bottom: calc(150px + 32.5vw);
    @include tablet-landscape {
        height: 40vh;
        width: auto;
        right: calc(-20px + 106vh);
        bottom: 62vh;
    }
}