// Header/footer

$hf-side-height: 32px;                      // height of flared out sides of header/footer
$hf-side-width: 345.5px * ($hf-side-height / 52px);     // width of flared out sides of header/footer
$hf-offset: 24px;                           // distance from top/bottom of screen to header or footer
$hf-height: $hf-side-height + $hf-offset;   // height of header and footer

header, footer {
    position: absolute;
    width: 100%;
    height: $hf-height;

    .mid, .left, .right {
        position: absolute;
        height: $hf-side-height;
    }

    .left, .right {
        width: $hf-side-width;
        background-size: contain;
        background-repeat: no-repeat;
        background-color: $black;

        &:after {
            display: block;
            position: absolute;
            color: $light;
        }
    }

    .mid {
        width: 100%;
    }

    .left {
        left: 0;
        z-index: 999;
    }

    .right {
        right: 0;
        z-index: 99;
    }
}

header {
    top: 0;

    .mid, .left, .right {
        bottom: 0;
    }

    .mid {
        border-top: .5px solid $blue-light;
    }

    .left {
        background-image: url(../assets/images/border-top-left@2x.png);
    }

    .right {
        background-image: url(../assets/images/border-top-right@2x.png);
    }
}

footer {
    bottom: 0;

    .mid, .left, .right {
        bottom: $hf-offset;
    }

    .mid {
        border-bottom: .5px solid $blue-light;
    }

    .left, .right {
        bottom: $hf-offset - 7.5px * ($hf-side-height / 52px);

        &:after {
            bottom: 4px;
        }
    }

    .left {
        background-image: url(../assets/images/border-bottom-left@2x.png);

        &:after {
            padding-left: 20px;

            content: 'HACK TO THE FUTURE';
            
            font-size: 14px;
            letter-spacing: .05em;
        }
    }

    .right {
        background-image: url(../assets/images/border-bottom-right@2x.png);
    }
}

.social {
    margin: 0;
    list-style: none;
    text-align: center;
    position: absolute;
    bottom: 4px;
    width: 100%;

    li {
        padding: 0 2px 0 2px;
        display: inline-block;
    }
}

.copyright {
    color: $light;
    text-align: right;
    font-size: 9px;
    line-height: 1.1em;
    position: relative;
    margin-top: $hf-offset;
    margin-right: 10px;
    z-index: 100; /* I'm sorry - Noah */

    a {
        color: $light; 
    }
    a:hover {
        color: $light; 
        cursor: pointer;
    }
}
