// On desktop, hide the bottom, scrolling view
.scrolling-view {
    display: none;
}

@media screen and (max-width: $break-med) {
	body {
		height: 100%;
		padding-top: $hf-height;
	}

	.fixed-view {
		height: auto !important;
		display: block !important;  // Override display: flex; to push main content below top

		.top {
			display: block;  // Override display: flex; to push controls below spinner

			.spinner, .controls {
				flex-basis: 100%;
			}
		}

		.lead {
	    	display: none;  // Hide left-side lead
	    }
	}

	.scrolling-view {
		display: block;  // Override display: none; to reveal scrolling view

	    .lead-bottom {
	    	display: block !important;  // Override display: none;

	    	text-align: left !important;

	    	padding-left: 10px;
	    	padding-right: 10px;
	    }
	}

	footer {
		bottom: auto;
		margin-top: 20px;
	}
}