$mobile-body-side-padding: 20px;

// Above break-med width (desktop)
@media screen and (min-width: $break-med + 1) {
	.mobile-only {
		display: none;
	}

	.primary-button:active {
		@include button-active();
	}
}

// Below break-med width (mobile)
@media screen and (max-width: $break-med) {
	.desktop-only {
		display: none !important;
	}

	body {
		height: 100%;
		padding: $hf-height $mobile-body-side-padding 0 $mobile-body-side-padding;
	}

	.mobile-dates {
		text-align: center;

		h3 {
			margin: 10px 0 0 0;
		}
	}

	.fixed-view {
		height: auto !important;
		display: block !important;  // Override display: flex; to push main content below top

		.top {
			display: block;  // Override display: flex; to push controls below spinner

			.spinner, .controls {
				flex-basis: 100%;
			}
		}
	}

	.spinner {
		max-width: 400px;
	}


	.scrolling-view .lead-bottom {
		text-align: center;

		padding-left: 10px;
		padding-right: 10px;
	}

	header, footer {
		margin-left: -$mobile-body-side-padding;

		.right {
            display: none;
        }
	}

	header .left {
		background-image: url(../assets/images/border-top-left-mobile@2x.png);

		.brand {
			position: absolute;
			font-size: 20px;
			left: 13px;
			bottom: 13px;
		}
	}

	footer {
		bottom: auto;
		margin-top: 20px;
	}

	.controls ul {
		padding-left: 0;
		margin-bottom: 0;

		li {
			margin: 0 0 40px 0 !important; // Don't arrange buttons circularly, reset other margins

			&.expanded {
				margin-bottom: 20px !important;
			}

			.back-button, .compact-button {
				display: none !important;
			}

			.primary-button {
				display: block !important;
				margin: auto;
				max-width: 180px;
			}
		}

		// Place speaker content boxes side by side
		.above-right-wrapper {
			display: -webkit-box;
			display: -ms-flexbox;
			display: -webkit-flex;
			display: flex;
			justify-content: center;
		}

		.right {
			margin-left: 10px;

			.content {
				border-radius: 0 0 $content-border-radius 0;
			}
		}

        .above {
            flex-basis: 33%;

            .content {
                max-width: none;
            }
        }

        .right {
            flex-basis: 66%;
        }

		.above, .right, .content {
			position: static;
		}

		.content {
			margin: 20px auto 0 auto !important;
		}

		//.above .content {
		//	//margin-top: 20px;
		//}
	}
}

//@media screen and (max-width: 850px) and (min-width: $break-med) {
//	#speakers-section .above {
//		display: none;
//	}
//}