// Colors

// $red-dark: #FF2D50;
$red: #FF585D;
$red-light: #F8B1B1;

$blue: #74D1EA;
$blue-light: #BEE7F0;

$black: #252C37;
$gray: #515B6B;
$white: #D0D6E0; // Columbia Blue
$light: transparentize($white, 0.6);

.red {
    color: $red;
}

.blue {
    color: $blue;
}

.gray {
    color: $gray;
}

.light {
    color: $light;
}

// Mixins

@mixin stroke($fill, $outline) {
    color: $fill;
    text-shadow:
         1px -1px 0 $outline,
        -1px -1px 0 $outline,  
        -1px  1px 0 $outline,
         1px  1px 0 $outline;
}

// Basics & Typeography

body {
    background-color: $black;

    font-family: 'Karla', sans-serif;
    color: $white;

    padding: 60px 0 60px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
}

h2, h3, h4, h5, h6 {
    letter-spacing: .128em;
    font-weight: 400;
}

h1 {
    @include stroke($black, $red);
    font-weight: 700;
    letter-spacing: .05em;
}

a {
    color: $red;

    &:hover, &:active {
        color: $red-light;
    }
}

// Buttons

a.button, h2.title {
    display: inline-block;
    min-width: 210px;
    min-height: 42px;
    padding: 10px;

    text-decoration: none;
    color: $white;
    font-size: 16px;

    border: 1px solid $red-light;
    border-radius: 30px;

    position: relative;

    &.small {
        min-width: 0;
        padding-left: 20px;
        padding-right: 20px;
    }

    &.blue {
        border-color: $blue-light;

        i {
            border-color: $blue;
        }
    }
}

h2.title {
    text-align: center;
    color: $black;

    background-color: $red;

    box-shadow: 
         1px -1px 0 $red-light,
        -1px -1px 0 $red-light,  
        -1px  1px 0 $red-light,
         1px  1px 0 $red-light;

    border: 3px solid $black;

    i {
        right: 3px;
    }
}

a.button {
    padding-left: 50px;

    i {
        left: 3px;
        border: 3px solid $red;
        padding: 14px;
    }
}

i {
    display: inline-block;
    padding: 17px;
    border-radius: 20px;
    background-color: $black;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;

    position: absolute;
    top: 3px;

    &.plus {
        background-image: url("../assets/images/icons/Register Icon@2x.png");
    }

    &.faq {
        background-image: url("../assets/images/icons/FAQ Icon@2x.png");
    }

    &.speakers {
        background-image: url("../assets/images/icons/Speakers Icon@2x.png");
    }

    &.sponsors {
        background-image: url("../assets/images/icons/Sponsors Icon@2x.png");
    }

    &.back {
        background-image: url("../assets/images/icons/Back Icon@2x.png");
    }

    &.up {
        background-image: url("../assets/images/icons/Back Icon@2x.png");
        -webkit-transform: rotate(90deg);
           -moz-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
             -o-transform: rotate(90deg);
                transform: rotate(90deg);
    }
}

// Top content

.lead {
    text-align: right;

    h3 {
        margin: 0;
    }

    .brand {
        margin-top: 80px;
    }

    h3:nth-child(1), p:nth-child(5) {
        margin-right: -30px;
    }

    h3:nth-child(2), p:nth-child(4) {
        margin-right: -10px;
    }
}

.brand {
    @include stroke($black, $blue);
}

.brand:before {
    @include stroke($black, $red);
    content: 'HACK';
}

.brand:after {
    @include stroke($black, $white);
    content: ' 2017';
}

.spinner {
    // padding: 0 !important;
    margin: auto;

    img {
        background-image: url(../assets/images/hack-logo/hack_logo_glow.png);
        background-size: 25%;
        background-repeat: no-repeat;
        background-position: 50% 50%;

        // height: 400px;
        // width: 400px;
        // margin: 0 auto;
        // border: 4px solid $gray;
        // border-radius: 100%;
    }
}

.controls ul {
    list-style: none;

    li {
        margin: 30px 0 30px;

        &:nth-child(1), &:nth-child(4) {
            margin-left: -18px;
        }
    }
}

// Main content

.main {
    // display: none !important;

    section {
        margin: 0px !important;
        padding-top: 30px !important;
        padding-bottom: 30px;

        .content {
            margin-left: 40px;
            border: 1px solid $red-light;
            border-radius: 0 0 50px 0;
        }
    }
}

#register {
    .row {
        padding: 0;
    }

    .content {
        padding: 25px;
    }
}

#faq {
    .content {
        padding: 15px;
    }

    .question {
        margin-top: 15px;
        cursor: pointer;

        &:before {
            color: $red;
            content: '+';
        }
    }

    .answer {
        display: none;
    }

    .expanded .answer {
        display: inline;
    }
}
