// Breakpoints

$break-med: 768px;
$break-small: 480px;

// Colors

// $red-dark: #FF2D50;
$red: #FF585D;
$red-light: #F8B1B1;

$blue: #74D1EA;
$blue-light: #BEE7F0;

$black: #252C37;
$gray: #515B6B;
$white: #D0D6E0; // Columbia Blue
$light: transparentize($white, 0.6);

.red {
    color: $red;
}

.blue {
    color: $blue;
}

.gray {
    color: $gray;
}

.light {
    color: $light;
}

// Mixins

@mixin stroke($fill, $outline) {
    color: $fill;
    text-shadow:
         1px -1px 0 $outline,
        -1px -1px 0 $outline,  
        -1px  1px 0 $outline,
         1px  1px 0 $outline;
}

// Basics & Typeography

body {
    background-color: $black;

    font-family: 'Karla', sans-serif;
    color: $white;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
}

h2, h3, h4, h5, h6 {
    letter-spacing: .128em;
    font-weight: 400;
}

h1 {
    @include stroke($black, $red);
    font-weight: 700;
    letter-spacing: .05em;
}

a {
    color: $red;

    &:hover, &:active {
        color: $red-light;
    }
}

// Buttons

a.button, h2.title {
    display: inline-block;
    min-width: 180px;
    min-height: 42px;
    padding: 10px;

    text-decoration: none;
    color: $white;
    font-size: 16px;

    border: 1px solid $red-light;
    border-radius: 30px;

    position: relative;

    &.small {
        min-width: 0;
        padding-left: 20px;
        padding-right: 20px;
    }

    &.blue {
        border-color: $blue-light;

        i {
            border-color: $blue;
        }
    }
}

h2.title {
    text-align: center;
    color: $black;

    background-color: $red;

    box-shadow: 
         1px -1px 0 $red-light,
        -1px -1px 0 $red-light,  
        -1px  1px 0 $red-light,
         1px  1px 0 $red-light;

    border: 3px solid $black;

    i {
        right: 3px;
    }
}

a.button {
    padding-left: 50px;

    i {
        left: 3px;
        border: 3px solid $red;
        padding: 14px;
    }
}

i {
    display: inline-block;
    padding: 17px;
    border-radius: 20px;
    background-color: $black;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;

    position: absolute;
    top: 3px;

    &.plus {
        background-image: url("../assets/images/icons/Register Icon@2x.png");
    }

    &.faq {
        background-image: url("../assets/images/icons/FAQ Icon@2x.png");
    }

    &.speakers {
        background-image: url("../assets/images/icons/Speakers Icon@2x.png");
    }

    &.sponsors {
        background-image: url("../assets/images/icons/Sponsors Icon@2x.png");
    }

    &.back {
        background-image: url("../assets/images/icons/Back Icon@2x.png");
    }

    &.up {
        background-image: url("../assets/images/icons/Back Icon@2x.png");
        -webkit-transform: rotate(90deg);
           -moz-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
             -o-transform: rotate(90deg);
                transform: rotate(90deg);
    }
}

// Header/footer

$hf-side-height: 32px;                      // height of flared out sides of header/footer
$hf-offset: 16px;                           // distance from top/bottom of screen to header or footer
$hf-height: $hf-side-height + $hf-offset;   // height of header and footer

body {
    padding-top: $hf-height;
    position: relative;
}

header, footer {
    position: absolute;
    width: 100%;
    height: $hf-height;

    .mid, .left, .right {
        position: absolute;
        height: $hf-side-height;
    }

    .left, .right {
        width: 345.5px * ($hf-side-height / 52px);
        background-size: contain;
        background-repeat: no-repeat;
        background-color: $black;
    }

    .mid {
        width: 100%;
    }

    .left {
        left: 0;
        z-index: 999;
    }

    .right {
        right: 0;
        z-index: 99;
    }
    
    @media screen and (max-width: $break-med) {
        .right {
            display: none;
        }
    }
}

header {
    top: 0;

    .mid, .left, .right {
        bottom: 0;
    }

    .mid {
        border-top: .5px solid $blue-light;
    }

    .left {
        background-image: url(../assets/images/border-top-left@2x.png);
        
    }

    .right {
        background-image: url(../assets/images/border-top-right@2x.png);
    }
}

footer {
    bottom: 0;

    .mid, .left, .right {
        bottom: $hf-offset;
    }

    .mid {
        border-bottom: .5px solid $blue-light;
    }

    .left, .right {
        bottom: $hf-offset - 7.5px * ($hf-side-height / 52px);
    }

    .left {
        background-image: url(../assets/images/border-bottom-left@2x.png);
    }

    .right {
        background-image: url(../assets/images/border-bottom-right@2x.png);
    }
}


// Top content

.top {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .lead, .spinner, .controls {
        flex-shrink: 1;
        flex-grow: 1;
        flex-basis: 33%;
    }

    @media screen and (max-width: $break-med) {
        .spinner {
            flex-shrink: 2;
            flex-grow: 2;
            flex-basis: 50%;
        }

        .lead, .conrols {
            flex-basis: 25%;
        }
    }
}

.lead {
    text-align: right;

    h3 {
        margin-top: 8px;
        margin-bottom: 8px;
    }

    .brand {
        margin-top: 80px;
    }

    h3:nth-child(1), p:nth-child(5) {
        margin-right: -20px;
    }

    h1:nth-child(3) {
        margin-right: 10px;
    }

    h3:nth-child(2), p:nth-child(4) {
        margin-right: 0;
    }
}

.brand {
    @include stroke($black, $blue);
}

.brand:before {
    @include stroke($black, $red);
    content: 'HACK';
}

.brand:after {
    @include stroke($black, $white);
    content: ' 2017';
}

.spinner {
    // padding: 0 !important;
    margin: auto;

    img {
        background-image: url(../assets/images/hack-logo/hack_logo_glow.png);
        background-size: 25%;
        background-repeat: no-repeat;
        background-position: 50% 50%;

        // height: 400px;
        // width: 400px;
        // margin: 0 auto;
        // border: 4px solid $gray;
        // border-radius: 100%;
    }
}

.controls ul {
    list-style: none;

    li {
        margin: 40px 0 40px;

        &:nth-child(1), &:nth-child(4) {
            margin-left: -18px;
        }
    }
}

// Main content

.main {
    // display: none !important;

    > section {
        display: none !important;

        margin: 0px !important;
        padding-top: 30px !important;
        padding-bottom: 30px;

        .content {
            margin-left: 40px;
            border: 1px solid $red-light;
            border-radius: 0 0 50px 0;
        }

        &.expanded {
            display: block !important;
        }
    }
}

#register {
    .row {
        padding: 0;
    }

    .content {
        padding: 25px;
    }
}

#faq {
    .content {
        padding: 15px;
    }

    .question {
        margin-top: 15px;
        cursor: pointer;

        &:before {
            color: $red;
            content: '+';
        }
    }

    .answer {
        display: none;
    }

    .expanded .answer {
        display: inline;
    }
}

