// Colors

$red: #FF585D;
$red-light: #F8B1B1;

$blue: #74D1EA;
$blue-light: #BEE7F0;

$black: #252C37;
$gray: #515B6B;
$white: #FFFFFF;

.red {
    color: $red;
}

.blue {
    color: $blue;
}

.gray {
    color: $gray;
}

// Mixins

@mixin stroke($fill, $outline) {
    color: $fill;
    text-shadow:
         1px -1px 0 $outline,
        -1px -1px 0 $outline,  
        -1px  1px 0 $outline,
         1px  1px 0 $outline;
}

// Basics & Typeography

body {
    background-color: $black;

    font-family: 'Karla', sans-serif;
    color: $white;

    padding: 60px 0 60px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
}

h2, h3, h4, h5, h6 {
    letter-spacing: .15ex;
    font-weight: 400;
}

h1 {
    @include stroke($black, $red);
    font-weight: 700;
    letter-spacing: .05ex;
}

a {
    color: $red;

    &:hover, &:active {
        color: $red-light;
    }
}

// Buttons

a.button, h2.title {
    display: inline-block;
    min-width: 210px;
    padding: 10px;

    text-decoration: none;
    color: $white;
    font-size: 2.25ex;

    border: 1px solid $red-light;
    border-radius: 30px;

    position: relative;
}

h2.title {
    text-align: center;
    color: $black;

    background-color: $red;

    box-shadow: 
         1px -1px 0 $red-light,
        -1px -1px 0 $red-light,  
        -1px  1px 0 $red-light,
         1px  1px 0 $red-light;

    border: 3px solid $black;

    i {
        right: 3px;
    }
}

a.button {
    padding-left: 50px;

    i {
        left: 3px;
        border: 3px solid $red;
        padding: 14px;
    }
}

i {
    display: inline-block;
    padding: 17px;
    border-radius: 20px;
    background-color: $black;
    background-position: 50% 50%;
    background-repeat: no-repeat;

    position: absolute;
    top: 3px;

    color: $red-light;

    &.plus {
        background-image: url("../assets/images/icons/Register Icon.svg");
        background-position: 60% 50%;
        background-size: 150%;
    }

    &.faq {
        background-image: url("../assets/images/icons/FAQ Icon.svg");
        background-position: 40% 40%;
        background-size: 120%;
    }

    &.speakers {
        background-image: url("../assets/images/icons/Speakers Icon.svg");
        background-position: 40% 50%;
        background-size: 120%;
    }

    &.sponsors {
        background-image: url("../assets/images/icons/Sponsors Icon.svg");
        background-size: 80%;
    }
}

// Top content

// .top {
    
// }

// .lead, .spinner, .controls {

// }

.lead {
    text-align: right;

    h3 {
        margin: 0;
    }

    .brand {
        margin-top: 50px;
    }
}

.brand {
    @include stroke($black, $blue);
}

.brand:before {
    @include stroke($black, $red);
    content: 'HACK';
}

.brand:after {
    @include stroke($black, $white);
    content: ' 2017';
}

.spinner {
    background-image: url(../assets/images/hack-logo/hack_logo_glow.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.controls ul {
    list-style: none;

    li {
        margin: 30px 0 30px;
    }
}

// Main content

.main {
    section {
        margin: 0px !important;
        padding-top: 30px !important;
        padding-bottom: 30px;

        .content {
            margin-left: 40px;
            border: 1px solid $red-light;
            border-radius: 0 0 50px 0;
        }
    }
}

#register {
    .row {
        padding: 0;
    }

    .content {
        padding: 25px;
    }
}

#faq {
    .content {
        padding: 15px;
    }

    .question {
        margin-top: 15px;
        cursor: pointer;

        &:before {
            color: $red;
            content: '+';
        }
    }

    .answer {
        display: none;
    }

    .expanded .answer {
        display: inline;
    }
}
