.red {
  color: #FF585D; }

.blue {
  color: #74D1EA; }

.gray {
  color: #515B6B; }

body {
  background-color: #252C37;
  font-family: 'Karla', sans-serif;
  color: #CED4E0;
  padding: 60px 0 60px; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif; }

h2, h3, h4, h5, h6 {
  letter-spacing: .15ex;
  font-weight: 400; }

h1 {
  color: #252C37;
  text-shadow: 1px -1px 0 #FF585D, -1px -1px 0 #FF585D, -1px 1px 0 #FF585D, 1px 1px 0 #FF585D;
  font-weight: 700;
  letter-spacing: .05ex; }

a {
  color: #FF585D; }
  a:hover, a:active {
    color: #F8B1B1; }

a.button, h2.title {
  display: inline-block;
  min-width: 210px;
  min-height: 42px;
  padding: 10px;
  text-decoration: none;
  color: #CED4E0;
  font-size: 2.25ex;
  border: 1px solid #F8B1B1;
  border-radius: 30px;
  position: relative; }
  a.button.small, h2.title.small {
    min-width: 0;
    padding-left: 20px;
    padding-right: 20px; }
  a.button.blue, h2.title.blue {
    border-color: #BEE7F0; }
    a.button.blue i, h2.title.blue i {
      border-color: #74D1EA; }

h2.title {
  text-align: center;
  color: #252C37;
  background-color: #FF585D;
  box-shadow: 1px -1px 0 #F8B1B1, -1px -1px 0 #F8B1B1, -1px 1px 0 #F8B1B1, 1px 1px 0 #F8B1B1;
  border: 3px solid #252C37; }
  h2.title i {
    right: 3px; }

a.button {
  padding-left: 50px; }
  a.button i {
    left: 3px;
    border: 3px solid #FF585D;
    padding: 14px; }

i {
  display: inline-block;
  padding: 17px;
  border-radius: 20px;
  background-color: #252C37;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  position: absolute;
  top: 3px; }
  i.plus {
    background-image: url("../assets/images/icons/Register Icon.svg");
    background-position: 60% 50%;
    background-size: 150%; }
  i.faq {
    background-image: url("../assets/images/icons/FAQ Icon.svg");
    background-position: 40% 40%;
    background-size: 120%; }
  i.speakers {
    background-image: url("../assets/images/icons/Speakers Icon.svg");
    background-position: 40% 50%;
    background-size: 120%; }
  i.sponsors {
    background-image: url("../assets/images/icons/Sponsors Icon.svg");
    background-size: 80%; }
  i.up {
    background-image: url("../assets/images/icons/Back Icon.svg");
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg); }

.lead {
  text-align: right; }
  .lead h3 {
    margin: 0; }
  .lead .brand {
    margin-top: 80px; }
  .lead h3:nth-child(1), .lead p:nth-child(5) {
    margin-right: -30px; }
  .lead h3:nth-child(2), .lead p:nth-child(4) {
    margin-right: -10px; }

.brand {
  color: #252C37;
  text-shadow: 1px -1px 0 #74D1EA, -1px -1px 0 #74D1EA, -1px 1px 0 #74D1EA, 1px 1px 0 #74D1EA; }

.brand:before {
  color: #252C37;
  text-shadow: 1px -1px 0 #FF585D, -1px -1px 0 #FF585D, -1px 1px 0 #FF585D, 1px 1px 0 #FF585D;
  content: 'HACK'; }

.brand:after {
  color: #252C37;
  text-shadow: 1px -1px 0 #CED4E0, -1px -1px 0 #CED4E0, -1px 1px 0 #CED4E0, 1px 1px 0 #CED4E0;
  content: ' 2017'; }

.spinner .inner {
  background-image: url(../assets/images/hack-logo/hack_logo_glow.png);
  background-size: 55%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 400px;
  width: 400px;
  margin: 0 auto;
  border: 4px solid #515B6B;
  border-radius: 100%; }

.controls ul {
  list-style: none; }
  .controls ul li {
    margin: 30px 0 30px; }
    .controls ul li:nth-child(1), .controls ul li:nth-child(4) {
      margin-left: -18px; }

.main section {
  margin: 0px !important;
  padding-top: 30px !important;
  padding-bottom: 30px; }
  .main section .content {
    margin-left: 40px;
    border: 1px solid #F8B1B1;
    border-radius: 0 0 50px 0; }

#register .row {
  padding: 0; }
#register .content {
  padding: 25px; }

#faq .content {
  padding: 15px; }
#faq .question {
  margin-top: 15px;
  cursor: pointer; }
  #faq .question:before {
    color: #FF585D;
    content: '+'; }
#faq .answer {
  display: none; }
#faq .expanded .answer {
  display: inline; }

/*# sourceMappingURL=app.css.map */
