.red {
  color: #FF585D; }

.blue {
  color: #74D1EA; }

.gray {
  color: #515B6B; }

.light {
  color: rgba(208, 214, 224, 0.4); }

body {
  background-color: #252C37;
  font-family: 'Karla', sans-serif;
  color: #D0D6E0; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif; }

h2, h3, h4, h5, h6 {
  letter-spacing: .128em;
  font-weight: 400; }

h1 {
  color: #252C37;
  text-shadow: 1px -1px 0 #FF585D, -1px -1px 0 #FF585D, -1px 1px 0 #FF585D, 1px 1px 0 #FF585D;
  font-weight: 700;
  letter-spacing: .05em; }

a {
  color: #FF585D; }
  a:hover, a:active {
    color: #F8B1B1; }

a.button, h2.title {
  display: inline-block;
  min-width: 180px;
  min-height: 42px;
  padding: 10px;
  text-decoration: none;
  color: #D0D6E0;
  font-size: 16px;
  border: 1px solid #F8B1B1;
  border-radius: 30px;
  position: relative; }
  a.button.small, h2.title.small {
    min-width: 0;
    padding-left: 20px;
    padding-right: 20px; }
  a.button.blue, h2.title.blue {
    border-color: #BEE7F0; }
    a.button.blue i, h2.title.blue i {
      border-color: #74D1EA; }

h2.title {
  text-align: center;
  color: #252C37;
  background-color: #FF585D;
  box-shadow: 1px -1px 0 #F8B1B1, -1px -1px 0 #F8B1B1, -1px 1px 0 #F8B1B1, 1px 1px 0 #F8B1B1;
  border: 3px solid #252C37; }
  h2.title i {
    right: 3px; }

a.button {
  padding-left: 50px; }
  a.button i {
    left: 3px;
    border: 3px solid #FF585D;
    padding: 14px; }

i {
  display: inline-block;
  padding: 17px;
  border-radius: 20px;
  background-color: #252C37;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 3px; }
  i.plus {
    background-image: url("../assets/images/icons/Register Icon@2x.png"); }
  i.faq {
    background-image: url("../assets/images/icons/FAQ Icon@2x.png"); }
  i.speakers {
    background-image: url("../assets/images/icons/Speakers Icon@2x.png"); }
  i.sponsors {
    background-image: url("../assets/images/icons/Sponsors Icon@2x.png"); }
  i.back {
    background-image: url("../assets/images/icons/Back Icon@2x.png"); }
  i.up {
    background-image: url("../assets/images/icons/Back Icon@2x.png");
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg); }

body {
  padding-top: 48px;
  position: relative; }

header, footer {
  position: absolute;
  width: 100%;
  height: 48px; }
  header .mid, header .left, header .right, footer .mid, footer .left, footer .right {
    position: absolute;
    height: 32px; }
  header .left, header .right, footer .left, footer .right {
    width: 212.61538px;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #252C37; }
  header .mid, footer .mid {
    width: 100%; }
  header .left, footer .left {
    left: 0;
    z-index: 999; }
  header .right, footer .right {
    right: 0;
    z-index: 99; }
  @media screen and (max-width: 768px) {
    header .right, footer .right {
      display: none; } }

header {
  top: 0; }
  header .mid, header .left, header .right {
    bottom: 0; }
  header .mid {
    border-top: 0.5px solid #BEE7F0; }
  header .left {
    background-image: url(../assets/images/border-top-left@2x.png); }
  header .right {
    background-image: url(../assets/images/border-top-right@2x.png); }

footer {
  bottom: 0; }
  footer .mid, footer .left, footer .right {
    bottom: 16px; }
  footer .mid {
    border-bottom: 0.5px solid #BEE7F0; }
  footer .left, footer .right {
    bottom: 11.38462px; }
  footer .left {
    background-image: url(../assets/images/border-bottom-left@2x.png); }
  footer .right {
    background-image: url(../assets/images/border-bottom-right@2x.png); }

.top {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  .top .lead, .top .spinner, .top .controls {
    flex-shrink: 1;
    flex-grow: 1;
    flex-basis: 33%; }
  @media screen and (max-width: 768px) {
    .top .spinner {
      flex-shrink: 2;
      flex-grow: 2;
      flex-basis: 50%; }
    .top .lead, .top .conrols {
      flex-basis: 25%; } }

.lead {
  text-align: right; }
  .lead h3 {
    margin-top: 8px;
    margin-bottom: 8px; }
  .lead .brand {
    margin-top: 80px; }
  .lead h3:nth-child(1), .lead p:nth-child(5) {
    margin-right: -20px; }
  .lead h1:nth-child(3) {
    margin-right: 10px; }
  .lead h3:nth-child(2), .lead p:nth-child(4) {
    margin-right: 0; }

.brand {
  color: #252C37;
  text-shadow: 1px -1px 0 #74D1EA, -1px -1px 0 #74D1EA, -1px 1px 0 #74D1EA, 1px 1px 0 #74D1EA; }

.brand:before {
  color: #252C37;
  text-shadow: 1px -1px 0 #FF585D, -1px -1px 0 #FF585D, -1px 1px 0 #FF585D, 1px 1px 0 #FF585D;
  content: 'HACK'; }

.brand:after {
  color: #252C37;
  text-shadow: 1px -1px 0 #D0D6E0, -1px -1px 0 #D0D6E0, -1px 1px 0 #D0D6E0, 1px 1px 0 #D0D6E0;
  content: ' 2017'; }

.spinner {
  margin: auto; }
  .spinner img {
    background-image: url(../assets/images/hack-logo/hack_logo_glow.png);
    background-size: 25%;
    background-repeat: no-repeat;
    background-position: 50% 50%; }

.controls ul {
  list-style: none; }
  .controls ul li {
    margin: 40px 0 40px; }
    .controls ul li:nth-child(1), .controls ul li:nth-child(4) {
      margin-left: -18px; }

.main > section {
  display: none !important;
  margin: 0px !important;
  padding-top: 30px !important;
  padding-bottom: 30px; }
  .main > section .content {
    margin-left: 40px;
    border: 1px solid #F8B1B1;
    border-radius: 0 0 50px 0; }
  .main > section.expanded {
    display: block !important; }

#register .row {
  padding: 0; }
#register .content {
  padding: 25px; }

#faq .content {
  padding: 15px; }
#faq .question {
  margin-top: 15px;
  cursor: pointer; }
  #faq .question:before {
    color: #FF585D;
    content: '+'; }
#faq .answer {
  display: none; }
#faq .expanded .answer {
  display: inline; }

/*# sourceMappingURL=app.css.map */
